<div>
  <img class="background-img" src="./assets/images/games.jpg" alt="game">
</div>

<div class ="container">
<div class="div1">
  <h1>Ludoweb</h1>
   <p>Prétez et empruntez des jeux de société.</p>
<div *ngIf="!emailVisible"><button type="button" class="btn btn-primary"(click)="afficheEmail()" >Je souhaite recevoir la newsletter</button></div>
<!-- <button class="btn btn-primary" (click)="toggle()" *ngIf="room.description"></button> -->
<div *ngIf="emailVisible"><input type="text"><button type="button" class="btn btn-primary">Inscription a la newsletter</button></div>
</div> 
<h2>Ludoweb en quelques chiffres</h2>
<p>{{stat?.nbLoans}} prêts de jeux effectués</p>
<p>{{stat?.nbManagers}} ludothèques</p>
<p>{{stat?.nbUsers}} utilisateurs</p>
<p>{{stat?.nbGames}} jeux enregistrés</p>
<p>{{stat?.nbGames / stat?.nbUsers}} jeux par utilisateur en moyenne</p>
<p>{{stat?.categories.length}} catégories différentes : 
  
   <span *ngFor="let item of stat?.categories">
       {{ item }},</span>    
      

  
</p>


<h3>Les témoignages</h3>
</div>